/*
COPYRIGHT (C) Damian Heaton 2017 - 2018

The storage of this software on a computer via means of browser 'caching', and the execution of such code by user browsers is permitted. This work cannot be duplicated, copied, distributed, or modified (neither privately nor publicly) without the express, written consent of Damian Heaton, whom can be contacted (at time of notice) at damian@lyrenhex.me. This software cannot be used for commercial purposes.

THIS SOFTWARE IS DISTRIBUTED "AS IS", WITHOUT WARRANTY OF ANY FORM (EITHER EXPRESS OR IMPLIED), INCLUDING (BUT NOT LIMITED TO) ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.

TL;DR:
You may:
- Store this software on a computer via a browser's cache, though not by any other means.
- Store this software for purposes of search indexing.
- Execute this code for the purpose of using the software.

You may NOT:
- Distribute, copy, replicate, or duplicate this copyrighted software without express, written permission from Damian Heaton.
- Use this software, in any way, shape or form, for any commercial purpose(s).
- Claim this software as your own, or attempt to imply affiliation with the software in any way that could be detrimental or unlawful, or to suggest that the software, or Damian Heaton, are represented by, or represent, yourself.
*/

body {
  background-color: #fff;
}

h1, h2, h3, h4 {
  color: #00c0ff;
}
a:link, a:visited {
  color: #00c0ff;
  text-decoration: none;
  transition: 0.1s linear all;
}
a:hover, a:focus {
  color: #0094c4;
}

button, a.btn:link, a.btn:visited, input {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 16pt;
  background-color: #fff;
  border: 1px solid #00c0ff;
  border-radius: 15px;
  box-shadow: 0 2px 4px #555;
  transition: 0.2s ease-out all;
  margin: 10px;
  color: #000;
}
input {
  width: calc(95% - 24px);
}
button:hover, button:focus, a.btn:hover, a.btn:focus {
  box-shadow: 0 4px 16px #555;
  background-color: #00c0ff;
  color: #eee;
  cursor: pointer;
}

.rel-container {
  position: relative;
  height: 100%;
}

.shown {
  left: 0;
  top: 0;
}
.done {
  position: fixed;
  left: -200%;
}

.section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: auto;
  margin-left: 20px;
  overflow-x: hidden;
}
.section.active {
  display: block;
}

.section.noformat {
  margin-left: 20px;
  margin-right: 20px;
}
.section.noformat h1, .section.noformat h2, .section.noformat h3, .section.noformat h4, .section.noformat h5, .section.noformat h6 {
  color: #000;
}

.userid {
  color: #009980;
}
.message {
  color: #90f;
}